.row,
.col {
    text-align: center;
    justify-content: center;
}

.card {
    margin-left: auto;
    margin-right: auto;
}

#navbar-top {
    background: linear-gradient(90deg, #000000, #0000001f), url("../images/top-heading.jpg") no-repeat center;
}

a {
    color: inherit;
}

a:hover {
    color: #4b4bd1;
}

.heading-anchor {
    display: block;
    position: relative;
    top: -25px;
    visibility: hidden;
}