#navbar-top {
    background: linear-gradient(90deg, #000000, #0000001f), url("../images/top-heading.jpg") no-repeat center;
}

a {
    color: inherit;
}

h2 a {
    text-decoration: none;
}

h2 a:hover {
    color: inherit;
    text-decoration: underline;
}