body {
    margin: 0;
    background-color: #f1f1f1;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    margin-top: 0;
    background: url("../images/top-heading.jpg") no-repeat center;
    padding: 10px 0;
    border-bottom: 2px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    text-decoration: underline;
}

.container {
    border: 0;
    padding: 8px;
}

.section {
    border-bottom: 1px solid gray;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.section:last-child {
    margin: 0;
    border: 0;
    padding: 0;
}

.section *:last-child {
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}

a {
    color: inherit;
}

a:hover {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

table {
    border: 6px solid #656565;
    border-collapse: separate !important;
    border-radius: 8px;
}

th {
    background-color: #a6a6a6;
    font-weight: 600;
}

th,
td {
    padding: 2px 6px;
    border: 1px;
}

#menu-table {
    border-collapse: collapse;
}

#menu-table tr {
    border-bottom: 1px solid black;
}

#menu-table tr:nth-last-child(1) {
    border-bottom: 0;
}

form {
    border: 4px solid black;
    background-color: lightgray;
    padding: 4px;
}

.input-field {
    margin: 4px !important;
    border: 0;
    display: flex;
}

label {
    flex: .2;
}

label+* {
    flex: 1;
}

input[type="submit"] {
    border: 1px solid black;
    border-radius: 20px;
    flex: 1;
    align-self: center;
    margin: 0 40%;
    height: 40px;
}

ul {
    padding-left: 2%;
    list-style: none;
}

ul li::before {
    margin: 4px;
    content: "\2192";
}

li ul li::before {
    content: "\21d2";
}

.wrap-float {
    display: flow-root;
}

img.center {
    display: block;
    margin: 0 auto 0 auto;
}

#go-to-top-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 20px;
    text-decoration: none;
}

#go-to-top-button-inside {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #30c2ee;
    font-size: 40px;
    line-height: 80px;
    color: white;
    text-align: center;
}